PORT=5000
NODE_ENV=development

# MongoDB Atlas connection string (needed for Vector Search later in the project)
MONGO_URI="mongodb://schoudharyayush05_db_user:n92m6dyfagfo3x4w@ac-t3enj1c-shard-00-00.9axgaot.mongodb.net:27017,ac-t3enj1c-shard-00-01.9axgaot.mongodb.net:27017,ac-t3enj1c-shard-00-02.9axgaot.mongodb.net:27017/?ssl=true&replicaSet=atlas-8ozpib-shard-0&authSource=admin&appName=CollabCluster"
# JWT
JWT_SECRET=65710da2c370aab2a5d59d6cc89c8f4efcec538b2326ca610f6b39ebfbd1c68c

JWT_EXPIRES_IN=7d